body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background-image:url("https://images.unsplash.com/photo-1557804506-669a67965ba0");
background-size:cover;

font-family:Segoe UI;
}

.container{
display:flex;
width:800px;

background:rgba(255,255,255,0.15);
backdrop-filter:blur(10px);

border-radius:15px;
overflow:hidden;
}

.info{
flex:1;
padding:40px;
color:white;
background:rgba(0,0,0,0.4);
}

.loginBox{
flex:1;
background:white;
padding:40px;
}

.loginBox input{
width:100%;
padding:10px;
margin:10px 0;
}

.loginBox button{
width:100%;
padding:10px;
background:#4dabf7;
color:white;
border:none;
}
