body{

margin:0;

font-family:Arial;

background-image:url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");

background-size:cover;

height:100vh;

overflow:hidden;

}


header{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px 30px;

color:white;

background:rgba(0,0,0,0.4);

}


.controls button{

margin-left:10px;

padding:15px 30px;

border-radius:8px;

border:none;

cursor:pointer;

}


#canvasContainer{

position:relative;

width:100%;

height:calc(100vh - 70px);

overflow:hidden;

}


#canvas{

position:absolute;

width:100%;

height:100%;

transform-origin:0 0;

}


svg{

position:absolute;

width:100%;

height:100%;

pointer-events:none;

}


.node{

position:absolute;

background:#20c4d8;

padding:15px;

border-radius:12px;

width:170px;

box-shadow:0 5px 20px rgba(0,0,0,0.4);

cursor:grab;

}


.node input{

border:none;

background:transparent;

color:white;

outline:none;

width:100%;

font-size:14px;

}


.deleteBtn{

margin-top:8px;

background:red;

color:white;

border:none;

padding:4px 10px;

border-radius:6px;

cursor:pointer;

}

.mapControls{
display:flex;
align-items:center;
gap:10px;
}

#mapName{
padding:15px;
border-radius:6px;
border:none;
}

#mapList{
padding:14px;
border-radius:6px;
}

.node{
position:absolute;
background:#20c4d8;
padding:15px;
border-radius:12px;
width:170px;
box-shadow:0 5px 20px rgba(0,0,0,0.4);
cursor:grab;
transition:box-shadow 0.2s;
}

.node:active{
cursor:grabbing;
box-shadow:0 10px 30px rgba(0,0,0,0.6);
}

svg line{
stroke:white;
stroke-width:2;
}

/* Left Sidebar */

.sidebar{
position:fixed;
left:0;
top:80px;

width:300px;
height:100%;

background:white;

padding:25px;

box-shadow:2px 0 10px rgba(0,0,0,0.2);

overflow:auto;
}

.sidebar{

position:fixed;
left:0;
top:115px;

width:300px;
height:100%;

padding:25px;

/* Glass effect */
background:rgba(255,255,255,0.15);
backdrop-filter:blur(12px);
-webkit-backdrop-filter:blur(12px);

/* smooth border */
border-right:1px solid rgba(255,255,255,0.3);

/* soft shadow */
box-shadow:5px 0 20px rgba(0,0,0,0.2);

color:rgb(9, 155, 160);

overflow:auto;

}

/* Step Layout */

.step{
display:flex;
align-items:flex-start;
margin-bottom:20px;
}

/* Number Circle */

.circle{

width:38px;
height:38px;

background:linear-gradient(135deg,#41455a);

border-radius:50%;

color:rgb(247, 247, 247);

display:flex;
align-items:center;
justify-content:center;

font-weight:bold;

margin-right:15px;

box-shadow:0 0 12px rgba(241, 239, 241, 0.7);

}
/* Text */

.step-text b{
display:block;
margin-bottom:4px;
}

.step-text p{
margin:0;
font-size:14px;
color:#555;
}

#canvasContainer{
margin-left:320px;
}

.step-text b{
color:#2e292a;
font-size:15px;
}

.step-text p{
color:#3f7a75;
font-size:13px;
}
